.App {
  width: 300px;
  margin: auto;
}
.settings div:last-child p:last-child {
  position: relative;
  margin-bottom: 36px;
}
.settings div:last-child p:last-child input {
  position: absolute;
  bottom: -36px;
}
.settings div:last-child p:last-child datalist {
  display: inline-flex;
  position: absolute;
  top: 0;
  left: 150px;
}
.settings div:last-child p:last-child option {
  margin-right: 7px;
}

.settings p {
  position: relative;
}
.settings p input {
  position: absolute;
  left: 150px;
}
